#logo {
    padding-top: 109px;
}

#logo-div {
    height:233px;
    margin-top:89px;
    text-align: center;
}

#search-div {
    text-align: center;
}

.search {
    width: 482px;
    height: 44px;
    border-radius: 25px; 
    border-style: solid; /*overrides default inner-shadow style*/
    border-width: 1px;
    border-color: #dfe1e5; 
}
