#logo {
    padding-top: 109px;
}

#logo-div {
    height:233px;
    margin-top:50px;
    text-align: center;
}

#search-div {
    text-align: center;
}

.search {
    width: 540px;
    height: 44px;
    border-radius: 25px; 
    border-style: solid; /*overrides default inner-shadow style*/
    border-width: 1px;
    border-color: #dfe1e5; 
}

.google-button {
    height: 36px;
    margin: 30px 1px 20px 5px;
    padding: 0 16px 0 16px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    font-family: arial;
    font-size: 14px;
    color: #5F6368;
}

#navbar {
    list-style-type: none; /*removes bullets from navbar list*/
    margin: 0; 
    padding: 0; /*resets defaults*/
    text-align: right;
    margin: 15px;
  }

li { 
    display: inline-block;  /*...These two lines make the text and images in*/
    vertical-align: middle; /*...the list line up with each other */
    margin-left: 10px; /*spreads out list items a bit */
} 

.nav-link {
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

#profile-pic{
    height: 32px;
    border-radius: 50px;
}

#footer {
    position: absolute;
    bottom:0;  /*position absolute "pushes" the div up 0 px from the bottom */
    left: 0; /*overrides default stying so that background-color goes all the way to the left */
    background-color: #f2f2f2;
    width: 100%; /*ensures background color fills the width of the page*/
    font-family: arial,sans-serif;   
}